* {
    margin: 0;
    padding-bottom: 0;
}
 .Amazing__offer {
    width: 100%;
    height:70px;
    background-color: lime;
& .Amazing__offer__centar {
    width: 100%;
    height: inherit;
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
 }